#!/usr/bin/env sh

[ -f ~/.config/secretsrc ] && source ~/.config/secretsrc

xrandr --dpi 192 &
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

mpd &
setbg &
#xcompmgr &
picom -b &
unclutter &
udiskie &
dunst &
~/.local/bin/start-gnome-keyring &
xset s 300 0 &
xss-lock --transfer-sleep-lock -- ~/.local/bin/lockscreen &
xflux -l $XFLUX_LAT -g $XFLUX_LONG &
