#!/usr/bin/env sh

[ -f ~/.config/secretsrc ] && source ~/.config/secretsrc

xrandr --dpi 168 &
mpd &
setbg &
picom -b &
udiskie &
dunst &
~/.local/bin/start-gnome-keyring &
xset s 300 0 &
xss-lock --transfer-sleep-lock -- ~/.local/bin/lockscreen &
xflux -l $XFLUX_LAT -g $XFLUX_LONG &
